doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/ticketUsuarios.css")
    title Crear Ticket

    link(
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css",
      rel="stylesheet"
    )

    

  body
    form.ticket(
      action="/tickets",
      method="POST",
      onsubmit="return confirmarEnvio(this)"
    )
      .ticket-header
        h2 SYSTEM TICKETS
        p Formulario de solicitud

      .info
        i.bi.bi-info-circle.me-1
        strong Fecha de solicitud:
        span#fecha
        br
        strong Hora:
        span#hora

      .field
        label ¿A qué departamento va dirigido?
        select(name="departamento_id", required, style="width: 100%; padding: 10px; margin-top: 5px; border: 1px solid #ccc; border-radius: 8px;")
          option(value="") Selecciona una opción...
          if departamentos
            each depto in departamentos
              //- Comparamos el id del depto con el deptoSeleccionado para agregar el atributo "selected"
              option(value=depto.id, selected=(depto.id == deptoSeleccionado))= depto.nombre

      .field
        label Descripción del problema
        textarea(name="descripcion", rows="4", required)

      .field
        label Ubicación (edificio, aula, etc.)
        input(type="text", name="ubicacion", required)

      .buttons
        button.btn.btn-cancelar(
          type="button",
          onclick="window.history.back()"
        )
          i.bi.bi-arrow-left.me-1
          | Regresar

        button.btn.btn-enviar(type="submit")
          i.bi.bi-send.me-1
          | Enviar Ticket

    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")

    script.
      function confirmarEnvio(form) {
        Swal.fire({
          title: '¿Enviar solicitud?',
          text: "Asegúrate de que la ubicación y descripción sean correctas.",
          icon: 'question',
          showCancelButton: true,
          confirmButtonColor: '#4CAF50',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Sí, enviar',
          cancelButtonText: 'Revisar'
        }).then((result) => {
          if (result.isConfirmed) {
            // Si confirma, enviamos el formulario manualmente
            form.submit();
          }
        });

        return false;
      }
  script.
      const fecha = new Date();
      const opcionesFecha = { year: 'numeric', month: '2-digit', day: '2-digit' };
      const opcionesHora = { hour: '2-digit', minute: '2-digit', second: '2-digit' };

      document.getElementById('fecha').innerText = fecha.toLocaleDateString('es-ES', opcionesFecha);
      document.getElementById('hora').innerText = fecha.toLocaleTimeString('es-ES', opcionesHora);

      window.addEventListener('pageshow', function (event) {
        if (event.persisted) {
          window.location.reload();
        }
      });